@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://developer.okta.com/code/javascript/okta_sign-in_widget/"> Okta SignIn Widget</a>.</p>
</div>
